<%- include("./partials/header") %>
<div class="col-sm-3"></div>
<div class="col-sm-6 container">
    <h1>Welcome!</h1>
    <h4>Please register for full campground access</h4>
    <hr>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="my-3">SUBMIT!</button>
    </form>
    <a class="my-5" href="/campgrounds">Back To Campgrounds</a>
</div>
<div class="col-sm-3"></div>



<%- include("./partials/footer") %>