.jumbotron {
    margin-top: 50px;
}

.thumbnail img {
    width: 100%
}

.thumbnail {
    padding: 0;
}

.thumbnail .card-body {
    padding: 9px;
}

.thumbnail .btn {
    margin: 9px;
}

.delete-form {
    display: inline;
}


.card {
    margin: 5px;
}

.navbar-light {
    background-color: #d4d4d4;
}

.form-group {
    width: 80%;
}
